@import "tailwindcss";
@import "@nuxt/ui";
@import "@fontsource/montserrat/latin-100.css";
@import "@fontsource/montserrat/latin-200.css";
@import "@fontsource/montserrat/latin-300.css";
@import "@fontsource/montserrat/latin-400.css";
@import "@fontsource/montserrat/latin-500.css";
@import "@fontsource/montserrat/latin-600.css";
@import "@fontsource/montserrat/latin-700.css";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-serif: 'Instrument Serif', serif;
}

html,
body,
#__nuxt {
  width: 100%;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  position: relative;
  overflow-x: clip;
  overflow-y: visible;
}

html,
body,
button,
a,
[role="button"],
input,
textarea,
select {
  cursor: url("/cursor-arrow.svg") 8 6, auto;
}

a:hover,
button:hover,
[role="button"]:hover,
.cursor-clickable,
.cursor-clickable:hover {
  cursor: url("/cursor-pointer.svg") 16 16, pointer;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
